@charset "utf-8";


body{
  font-family: 'Zen Kurenaido', sans-serif;
  writing-mode: vertical-rl;
  background-image:url(images/kasa.jpg);
  background-size: cover;
}
.subback{
  background-image: url(images/subback.jpg);
  margin-top:10%;
  margin-bottom:10%;
}
.subback img{
  margin-top:25%;
  margin-right:5%;
  margin-left:10%;
  width: 55%;
  height: 55%;
}
#appTitle{
  font-size:500%;
  text-align: center;
  padding-right: 3%;
  margin-right:15%;
  margin-left:2.5%;
}
#setumei{
  font-size: 150%;
  margin-top:15%;
  margin-right:2.5%;
  margin-left:5%;
  line-height: 2.5;
}
.links a{
  text-decoration: none;
  margin-top: 15%;
  margin-right: 10%;
  font-size:300%;
  line-height: 2;
}
.links a.link{ color:white};
.links a:visited{color:#a888be}
#image{
  height:50%;
  width: 50%;
}
ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  
  width:55%;
  height:55%;
  list-style-type: none;
}