@charset "utf-8";


body{
  font-family: 'Zen Kurenaido', sans-serif;
  writing-mode: vertical-rl;
  background-image:url(images/kasa.jpg);
  background-size: cover;
}
.subback{
  background-image: url(images/subback.jpg);
  margin-top:10%;
  margin-bottom:10%;
}
.subback img{
  margin-top:15%;
  margin-right:7%;
  margin-left:10%;
}
#appTitle{
  font-size:600%;
  text-align: center;
  margin-right:13%;
  margin-left:2.5%;
}
#setumei{
  font-size: 200%;
  margin-top:20%;
  margin-right:5%;
  margin-left:5%;
}
/*==================================================
スライダーのためのcss
===================================*/
.slider{
  position:relative;
  margin: 0% 0% 0% 0%;
}
.slider img {
    width:50%;/*スライダー内の画像を横幅100%に*/
    height:50%;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;/*スライド左右の余白調整*/
}

.link a{
  margin-top: 20%;
  margin-right: 15%;
  font-size:350%;
  line-height: 2;
}