@charset "utf-8";
body{
  font-family: 'Zen Kurenaido', sans-serif;
  background-image:url(images/kasa.jpg);
  background-size: cover;
}
.backHome{
  text-decoration: none;
  font-size: 180%;
  margin-left:5%;
}
.btn-square{
  font-family: 'Zen Kurenaido', sans-serif;
  font-size:230%;
  margin-top:5%;
}
.waku{
  margin:8% 10% 5% 10%;
  background-image: url(images/subback.jpg);
}
#hinto{
  font-size:120%;
  margin-top:-2%;
}
#result{
  font-size:160%;
  margin-left:10%;
  margin-right: 10%;
  margin-top: 2.5%;
}
.btn-square2{
  font-family: 'Zen Kurenaido', sans-serif;
  font-size:230%;
  margin-top:2.5%;
  margin-bottom:3%;
}
